*   {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
         font-style: normal;
        font-variation-settings: "width" 100;
		margin: 0;
        box-sizing: border-box;
        
    }
  
    header {
        display: grid;
        grid-template-columns: 24px auto 44px;
        gap: 10px;
        border-bottom:1px solid black;
        margin: 0 0;
        background-color: orangered;
    }

    header img {
        width: 24px;
        height: 24px;
        margin: 3px;
        padding: 2px;
    }
    header span {
        font-size: larger;
        color: white;
        font-weight: 700;
        padding: 5px;
    }

    nav {
        background-color: #ddd;
        width: 100%;
        margin-top:0 ;

    }

        
    .ham-btn {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
        color: white;
        background-color: none; 
        border: none; 
        background-color: orangered;      
    }

    #nav-btn::before {
        content: "\2630";
        cursor: pointer;


    }

        #nav-btn.show::before {
        content: "X";
    }
      .navigation ul {
        display: block;
        list-style: none;
        color: #ddd;
        margin: 0;
        padding: 0;
    } 

    .navigation li {
        display: none;
    }
    
      
    .navigation a {
	display: block;
	padding: 0.5rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.3s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
    border-bottom:1px solid  black;

}

.navigation a:hover {
	color: white;
	background-color: orangered;
}
 
header, main, nav,footer {
    max-width: 840px;
}         




.navigation.show li {
    display: block;
}
.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

}
section {
    background-color: #ddd;
    border-radius:5px ;
    padding: 0.5rem;
}
h1 {
    margin: 1px 5px;
}


  h2 {
    color: white;
    background-color: orangered;
    width: 100%;
    height: auto;
    padding: 2px 1px;
    margin: 3px 2px;

}
button {
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    font-size: clamp(0.8rem, 2vmin, 1.2rem);
    margin: 0.5rem;
    background-color: orangered;
}
footer {
    background-color:orangered;
    padding: 1rem 10px;
    text-align: center;
    text-decoration: none;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
    text-decoration: none;
}
.social img {
    width: 22px;
    height: 22px;
    background-color: #ddd;
}
.social a:hover {
    background-color: #ddd;
}

footer p {
border-bottom: none; 
color: white; 
text-decoration: none;  
}

   /*=================layout of the course container*/
.course-card {
    display:block;
}
    
    

    

.course-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    border: 2px solid green;
    background-color: black;
    color: white;
    width: 100%;
    margin:2px 2px ;
    padding: 3px 3px;
    border-radius:7px ;
}


