@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		font-weight: 400;
		margin-left: 0;
		text-align: center;
	}
h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display:none; /* hide hamburger button */
		
	}

	.navigation {
		flex-direction: row;
		justify-content: left;
	}

	.navigation a {
		
		flex: 1 1 100%;
	}

	.stuff {
		margin: 1rem auto;

	
	.main-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
	}

	figure img {
   width: 100%;
   height: 80%;
   border-style: groove;
   object-fit: cover;
   margin-top: 5px;
}

}







}